{% extends "inicio.html" %}
{% block content %}
<div id="contenido" class="bg-light rounded " style="box-shadow: 1px 1px 30px -10px;" id="myTabContent">
    <div class="rounded-top blue_gradient text-left p-2 fs-2" style="background-color: rgb(55 84 116); color: rgb(255 255 255 / 55%);">
        Control de Entregas
    </div>
    <div class="p-5">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="material" class="form-label">Material:</label>
            <select name="material" id="material" class="form-control select2" autofocus>
                {% for mat in materiales %}
                    <option value="{{ mat.id }}">{{ mat.descripcion }} (Disponible: {{ mat.cantidad }})</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="analista" class="form-label">Analista:</label>
            <div class="form-control" id="id_analista">{{ user.username }}</div>
            <input type="hidden" name="analista" value="{{ user.id }}">
        </div>

        <div class="mb-3">
            <label for="persona" class="form-label">Seleccione Persona:</label>
            <select id="persona" name="persona" class="form-control select2">
                <option selected>Seleccione una persona</option>
                <option value="nueva">Nueva persona</option>
                {% for person in personas %}
                <option value="{{ person.id }}">{{ person.nombre }} - {{ person.cedula }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="nuevaPersonaForm" class="hidden">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombre" class="form-label">Nombre y Apellido:</label>
                    <input id="nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cedula" class="form-label">Cédula:</label>
                    <input id="cedula" name="cedula" type="number" class="form-control">
                </div>
            </div>

            <!-- Select Departamento -->
            <div class="row mb-3">
                <div class="col-12">
                    <label for="departamento" class="form-label">Seleccione Departamento:</label>
                    <select id="departamento" name="departamento" class="form-control select2">
                        <option value="">Seleccione un departamento</option>
                        <option value="nuevo">Nuevo departamento</option>
                        {% for dept in departamentos %}
                            <option value="{{ dept.id }}">{{ dept.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Nuevo Departamento Input -->
            <div id="nuevoDepartamentoForm" class="hidden">
                <div class="col-12">
                    <label for="nuevo_dep" class="form-label">Nombre del nuevo departamento:</label>
                    <input id="nuevo_dep" name="nuevo_dep" type="text" class="form-control">
                </div>
            </div>
        </div>


        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea name="descripcion" id="descripcion" rows="4" class="form-control" placeholder="Introduzca el motivo y el Piso..."></textarea>
        </div>

        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary my-4">Registrar Préstamo</button>
    </form>
    

        {% if messages %}
        <div class="alert alert-info mt-3">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
