{% extends "inicio.html" %} 
{% load static %}
{% block content %}
<div class="rounded m-5 mt-0 col-md-11"  id="myTabContent">

<div class="tab-content lista_materiales rounded bg-light" id="myTabContent">
    <!-- panel de HERRAMIENTAS -->

        <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
            <p class="fs-2 m-0">HERRAMIENTAS</p>
            <div style="display: flex;">
            <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
            <a class="agregar-herramientas" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
            </div>
        </div>

        <div class="table-responsive p-4 pt-0 pb-0" >
        <div class="tab-content card-tabs border-top-0">
            <table class="tablasApp  table table-hover text-center">
        <thead class=text-center>
        <tr>
            <th class="col-1 ">id</th>
            <th class="col-4">descripcion</th>
            <th class="col-1">cantidad</th>
            <th class="hidden">coordinador</th>
            <th class="col-4">fecha ingreso</th>
            <th class="col-1">condicion</th>
            <th class="col-1">Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for her in herramientas %}
        <tr style="{% if her.cantidad <= her.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ her.id }}</td>
            <td class="">{{ her.descripcion }}</td>
            <td class="">{{ her.cantidad }}</td>
            <td class="hidden">{{ her.coordinador }}</td>
            <td class="">{{ her.fecha_ingreso }}</td>
            <td class="">{{ her.condicion }}</td>
            <td>
            <a title="datosHerramientas" class="infoH" 
                data-id="{{ her.id }}"
                data-descripcion="{{ her.descripcion }}"
                data-cantidad="{{ her.cantidad }}"
                data-coordinador="{{ her.coordinador.username | title }}"
                data-fecha="{{ her.fecha_ingreso }}"
                data-condicion="{{ her.condicion  }}"
                data-cantidad-minima="{{ her.cantidad_minima }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
            </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>

    </div>
</div>
<button id="printBtn" class="btn btn-primary boton-flotante">Descargar PDF</button>

<script>
document.querySelectorAll('.agregar-herramientas').forEach(function(element) {
    element.addEventListener('click', function() {
    Swal.fire({
        title: 'Agregar Herramienta',
        html: `
        <form id="material-form">
            <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <input type="text" name="descripcion" id="descripcion" maxlength="250" required class="form-control">
            </div>
            <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad a agregar:</label>
            <input type="number" name="cantidad" id="cantidad" min="0" required class="form-control">
            </div>
            <div class="mb-3">
            <label for="condicion" class="form-label">Condicion:</label>
            <select name="condicion" id="condicion" class="form-control select2">
            {% for valor, nombre in condiciones %}
                <option value="{{ valor }}">{{ nombre }}</option>
            {% endfor %}
            </select>
            </div>
        </form>
        `,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        preConfirm: () => {
        return new Promise((resolve, reject) => {
            $.ajax({
            url: "{% url 'agregar_herramientas' %}",
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                descripcion: $('#descripcion').val(),
                cantidad: $('#cantidad').val(),
                condicion: $('#condicion').val(),
            },
            success: function(response) {
                if (!response.success) {
                Swal.showValidationMessage(response.message);
                }
                resolve(response);
            },
            error: function(xhr, status, error) {
                Swal.showValidationMessage(`Error: ${error}`);
            }
            });
        });
        },
    }).then((result) => {
        if (result.isConfirmed) {
        Swal.fire({
            icon: 'success',
            title: '¡Herramientas agregado!',
            text: 'El Herramientas se ha registrado correctamente.',
        }).then(() => {
            window.location.href = "{% url 'ListaHerramientas' %}";
        });
        }
    });
    });
});
</script>

<!-- boton de mas informacion y acciones en las herramientas -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const ajustesButtonsH = document.querySelectorAll('.infoH');
    ajustesButtonsH.forEach(button => {
    button.addEventListener('click', function () {
        const pk = this.getAttribute('data-id');
        const descripcion = this.getAttribute('data-descripcion');
        const cantidad = this.getAttribute('data-cantidad');
        const cantidad_minima = this.getAttribute('data-cantidad-minima');
        const coordinador = this.getAttribute('data-coordinador');
        const fecha = this.getAttribute('data-fecha');
        const condicion = this.getAttribute('data-condicion');
        
        Swal.fire({
        title: `<strong>${descripcion}</strong>`,
        icon: "info",
        html: `
            <p><b>Cantidad:</b> ${cantidad}</p>
            <p><b>Coordinador:</b> ${coordinador}</p>
            <p><b>Fecha de Ingreso:</b> ${fecha}</p>
            <p><b>condicion:</b> ${condicion}</p>
        `,
        showCloseButton: false,
        showCancelButton: false,
        showConfirmButton: false,
        focusConfirm: false,
        footer: `
                <div class="flex-d">
                <div>
                <button id="edit-herramienta" class="swal2-confirm col-4 swal2-styled">Editar</button>
                <button id="delete-herramienta" class="swal2-confirm col-4 swal2-styled">Eliminar</button>
                </div>
                <div>
                <button id="cantidad-herramienta" class="swal2-confirm col-4 swal2-styled">Cantidad</button>
                <button id="entrega-herramienta" class="swal2-confirm col-4 swal2-styled">Entregar</button>
                </div>
                </div>
        `
        });

    document.getElementById('entrega-herramienta').addEventListener('click', function() {
        Swal.fire({
        title: 'Entregar herramienta',
        html: ` 
        <div class="p-5">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="material" class="form-label">Herramientas:</label>
                <input  value="${descripcion}" type="text" class="form-control">
                <input type="hidden" id="herramienta" name="herramienta" value="${pk}">
            </div>
            <div class="mb-3">
                <label for="analista" class="form-label">Analista:</label>
                <div class="form-control">{{ user.username }}</div>
                <input type="hidden" id="id_analista" name="analista" value="{{ user.id }}">
            </div>
            <div class="mb-3">
                <label for="persona" class="form-label">Seleccione Persona:</label>
                <select id="persona" name="persona" class="form-control select2">
                    <option selected>Seleccione una persona</option>
                    <option value="nueva">Nueva persona</option>
                    {% for person in personas %}
                    <option value="{{ person.id }}">{{ person.nombre }} - {{ person.cedula }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="4" class="form-control" placeholder="Introduzca el motivo y el Piso..."></textarea>
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" class="form-control" required>
            </div>
            </form>
            </div>
        `
        ,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        width: '600px',
        preConfirm: () => {
        const E_Herramienta = document.getElementById('herramienta').value;
        const E_Analista = document.getElementById('id_analista').value
          // Verificar si persona está seleccionada, si no, verificar nombre, cedula y departamento
        const E_Persona = document.getElementById('persona') && document.getElementById('persona').value ? document.getElementById('persona').value : '';
        const E_Descripcion = document.getElementById('descripcion') ? document.getElementById('descripcion').value : '';
        const E_Cantidad = document.getElementById('cantidad').value;

        if (!E_Cantidad) { 
            Swal.showValidationMessage('ingrese una cantidad valida.');
            return false;
        } 
        else if (!E_Descripcion){
            Swal.showValidationMessage('ingrese una justificacion.');
            return false;
        }
          // Llamada AJAX para enviar los datos al servidor
        $.ajax({
            type: "POST",
            url: `../Prestamo_herramientas/${pk}/`,  
            data: {
            herramienta: E_Herramienta,
            analista: E_Analista,
            persona: E_Persona,
            descripcion: E_Descripcion,
            cantidad: E_Cantidad,
            csrfmiddlewaretoken: "{{ csrf_token }}", 
            },
            success: function (response) {
                    Swal.fire({
                        title: 'Guardado!',
                        text: 'El material ha sido actualizado',
                        icon: 'success',
                        showConfirmButton: false, // Oculta el botón "OK"
// Recarga la página después de que la alerta desaparezca
                    });
                },
            error: function (xhr, status, error) {
            Swal.fire('Error', 'Hubo un problema al guardar los cambios', 'error');
            }
        });
        }
    });
});





    document.getElementById('cantidad-herramienta').addEventListener('click', function() {
    Swal.fire({
        title: 'Modificar Cantidad de la herramienta',
        html: `
            <form id="modificar-cantidad-form">
                <div class="form-group">
                    <p><b>Descripción:</b> ${descripcion}</p>
                    <p><b>Cantidad:</b> ${cantidad}</p>
                    <p><b>condicion:</b> ${condicion}</p>
                </div>
                <div class="form-group">
                    <label for="id_cantidad_a_agregar">Cantidad a agregar:</label>
                    <input
                        type="number"
                        name="cantidad"
                        min="1"
                        class="form-control"
                        id="id_cantidad_a_agregar"
                    />
                </div>
                <div class="form-group">
                    <label for="id_cantidad_a_restar">Cantidad a restar:</label>
                    <input
                        type="number"
                        name="restar"
                        min="1"
                        class="form-control"
                        id="id_cantidad_a_restar"
                    />
                </div>
                <div class="form-group">
                    <label for="id_justificacion">Justificación:</label>
                    <input
                        type="text"
                        name="justificacion"
                        class="form-control"
                        id="id_justificacion"
                        required
                    />
                </div>
            </form>
        `,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        preConfirm: () => {

        const justificacion = document.getElementById('id_justificacion').value;

        if (!justificacion) {
            Swal.showValidationMessage('¡La justificación es requerida!');
            return false; // ¡Aquí detienes la promesa!
        }

        return new Promise((resolve, reject) => {
            const form = $('#modificar-cantidad-form');
            const formData = form.serializeArray().reduce((obj, item) => {
                obj[item.name] = item.value;
                return obj;
            }, {});
                $.ajax({
                type: 'POST',
                    url: `../modificarCantidadesHerramientas/${pk}/`,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',  // Token CSRF
                        ...form.serializeArray().reduce((obj, item) => {
                            obj[item.name] = item.value;
                            return obj;
                        }, {})
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            resolve(data);
                        } else {
                            Swal.showValidationMessage(data.message || 'Ocurrió un error.');
                        }
                    },
                    error: function() {
                        Swal.showValidationMessage('Ocurrió un error inesperado.');
                    }
                });
            });
        }
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: 'Éxito',
                text: 'la Herramienta ha sido modificado correctamente.',
                icon: 'success'
            });
        }
        setInterval("location.reload()",1000);
    });
    
});

    document.getElementById('delete-herramienta').addEventListener('click', function () {
        Swal.fire({
        title: "¿Estas seguro?",
        html: `
            <p>¡No podrás revertir esto!</p>
            <div class="form-group">
                <label for="motivo">Motivo de la eliminación:</label>
                <textarea id="motivo" class="form-control" rows="4" placeholder="Introduzca el motivo de la eliminación..."></textarea>
            </div>
        `,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        confirmButtonText: "¡Sí, bórralo!",
        preConfirm: () => {
        const motivo = document.getElementById('motivo').value;
        if (!motivo) {
            Swal.showValidationMessage("Por favor ingrese un motivo para la eliminación");
        }
        return motivo;
    }
    }).then((result) => {
        if (result.isConfirmed) {
            const motivo = result.value; 

        $.ajax({
            url: `../eliminar_herramienta/${pk}/`, 
            type: 'POST',
            data: {
                motivo: motivo,
                csrfmiddlewaretoken: '{{ csrf_token }}'  
            },
            success: function (response) {
                Swal.fire(
                    'Deleted!',
                    'The material has been deleted.',
                    'success'
                );
                // Remueve el elemento eliminado de la vista
                document.getElementById(`material-${pk}`).remove();
            },
            error: function (xhr, errmsg, err) {
                Swal.fire(
                    'Error!',
                    'There was a problem deleting the material.',
                    'error'
        );
        }
    });
    }
    setInterval("location.reload()",1000);
});
});

    document.getElementById('edit-herramienta').addEventListener('click', function () {
        Swal.fire({
        title: 'Editar Herramienta',
        html: `

        <div class="form-group">
            <label for="edit-descripcion" class="col-form-label">Descripción:</label>
            <input id="edit-descripcion" type="text" class="form-control" value="${descripcion}">
        </div>
        <div class="form-group">
            <label for="edit-cantidad" class="col-form-label">Cantidad Minima:</label>
            <input id="edit-cantidad" type="number" class="form-control" value="${cantidad_minima}">
        </div>
        <div class="form-group">
            <label for="edit-condicion" class="col-form-label">condicion:</label>
            <select class="form-select text-center" id="edit-condicion" aria-label="Estado de la herramienta">
                <option value="${condicion}" disabled selected>${condicion}</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Bueno">Bueno</option>
                <option value="Desgastado">Desgastado</option>
                <option value="Dañado">Dañado</option>
            </select>
        </div>
        `,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        preConfirm: () => {
            const newDescripcion = document.getElementById('edit-descripcion').value;
            const newCondicion = document.getElementById('edit-condicion').value;
            const newCantidadMinima = document.getElementById('edit-cantidad').value;

            if (!newDescripcion || !newCondicion || !newCantidadMinima) {
            Swal.showValidationMessage('Todos los campos son obligatorios');
            return false;
            }
            $.ajax({
                type: "POST",
                url: `../editar_herramienta/${pk}/`,  
                data: {
                    descripcion: newDescripcion,
                    condicion: newCondicion,
                    cantidad_minima: newCantidadMinima,
                    csrfmiddlewaretoken: "{{ csrf_token }}", 
                },
                success: function (response) {
                    Swal.fire('Guardado', 'El material ha sido actualizado', 'success');
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Hubo un problema al guardar los cambios', 'error');
                }
            });
            setInterval("location.reload()",1000);

            return false; 
        }
        });
    });
    });
});
});

</script>

<!-- este escrip sirve para que el ultimo tab en el que estaba quede activo cuando recarge la pagina -->
<script>
document.addEventListener("DOMContentLoaded", function () {
      // Obtener el último tab guardado en localStorage
    let lastTab = localStorage.getItem("activeTab");

      // Si hay un tab guardado, activarlo
    if (lastTab) {
        let tabElement = document.querySelector(`[data-bs-target="${lastTab}"]`);
        if (tabElement) {
            let tab = new bootstrap.Tab(tabElement);
            tab.show();
        }
    }

      // Escuchar el evento cuando se cambia de pestaña y guardar el ID
    document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(tab => {
        tab.addEventListener("shown.bs.tab", function (event) {
            localStorage.setItem("activeTab", event.target.getAttribute("data-bs-target"));
        });
    });
});
</script>
{% endblock %}