{% extends "inicio.html" %}
{% block content %}
<div id="contenido" class="{{ tablas }} " style="box-shadow: 1px 1px 30px -10px;" id="myTabContent">
    <h1 class="my-4 text-center">Lista de usuarios</h1>
    <div class="table-responsive">
        <table class="table table-hover table-borderless text-center">
            <thead >
                <tr>
                    <th class="sortable">Username</th>
                    <th class="sortable">Email</th>
                    <th class="sortable">Fecha de creación</th>
                    <th class="sortable">Grupos</th>
                    <th class="sortable">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users.all %}
                <tr>
                    <td>{{ user.username | title }}</td>
                    <td>{{ user.email  }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        {% for group in user.groups.all %}
                        {{ group.name | title}}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.is_active %}
                        <a href="{% url 'desactivar_usuario' user.id %}" class="btn btn-danger">
                            <i class="bi bi-dash-circle-fill"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'activar_usuario' user.id %}" class="btn btn-secondary">
                            <i class="bi bi-dash-circle"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}