{% extends "inicio.html" %}
{% block content %}
<div class="rounded m-5 mt-0"  id="myTabContent">
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
        <p class="fs-2 m-0">Lista de usuarios</p>
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput"  style="width: 200px;">
    </div>
    
    <div class="rounded-top-0 rounded table-responsive p-4 pt-0 pb-0 tab-content card-tabs border-top-0 bg-light">
        <table class="tablasApp table table-hover text-center">
            <thead >
                <tr>
                    <th class="col-2">Username</th>
                    <th class="col-2">Email</th>
                    <th class="col-2">Fecha de creación</th>
                    <th class="col-2">Grupos</th>
                    <th class="col-2">Acción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users.all %}
                <tr>
                    <td>{{ user.username | title }}</td>
                    <td>{{ user.email  }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        {% for group in user.groups.all %}
                        {{ group.name | title}}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.is_active %}
                        <a href="{% url 'desactivar_usuario' user.id %}" class="btn btn-danger">
                            <i class="bi bi-dash-circle-fill"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'activar_usuario' user.id %}" class="btn btn-secondary">
                            <i class="bi bi-dash-circle"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}