{% extends "inicio.html" %} 
{% load static %}
{% block content %}
<div class="rounded m-5 mt-0 col-md-11"  id="myTabContent">

  <ul class="nav nav-tabs" style="border-bottom: 0 !important;" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña1" data-bs-toggle="tab" style="background-color: #92d0508f;" data-bs-target="#pestaña1-pane"
          type="button" role="tab" aria-controls="pestaña1-pane" aria-selected="true">ELECTRICIDAD</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña2" data-bs-toggle="tab" style="background-color: #f796468a;" data-bs-target="#pestaña2-pane"
          type="button" role="tab" aria-controls="pestaña2-pane" aria-selected="true">PLOMERIA</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña3" data-bs-toggle="tab" style="background-color: #00b0508c;" data-bs-target="#pestaña3-pane"
          type="button" role="tab" aria-controls="pestaña3-pane" aria-selected="true">ELECTROMECANICA</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña4" data-bs-toggle="tab" data-bs-target="#pestaña4-pane" style="background-color: #fabf8f91;"
          type="button" role="tab" aria-controls="pestaña4-pane" aria-selected="true">PAPELERIA</a>
    </li>

    <li class="nav-item" role="presentation">
        <a class="nav-link nav-link-tabs"  id="pestaña5" data-bs-toggle="tab" data-bs-target="#pestaña5-pane" style="background-color: #8064a296;"
            type="button" role="tab" aria-controls="pestaña5" aria-selected="false">LIMPIEZA</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña6" data-bs-toggle="tab" data-bs-target="#pestaña6-pane" style="background-color: #76933c8a;"
          type="button" role="tab" aria-controls="pestaña6-pane" aria-selected="true">PINTURAS</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña7" data-bs-toggle="tab" style="background-color: #b7dee881;" data-bs-target="#pestaña7-pane"
          type="button" role="tab" aria-controls="pestaña7-pane" aria-selected="true">RESGUARDOS</a>
    </li>
    
    {%  if user.username == "deyner" %}
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-link-tabs"  id="pestaña8" data-bs-toggle="tab" style="background-color: #b7dee881;" data-bs-target="#pestaña8-pane"
          type="button" role="tab" aria-controls="pestaña8-pane" aria-selected="true">PRUEBA</a>
    </li>
    {% endif %}
  </ul>


<div class="tab-content lista_materiales rounded bg-light" id="myTabContent">

  <!-- panel de ELECTRICIDAD -->
  <div class="tab-pane fade" id="pestaña1-pane" role="tabpanel" aria-labelledby="pestaña1" tabindex="0" >
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
      <p class="fs-2 m-0">ELECTRICIDAD</p>
      <div style="display: flex;">
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
        <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
      </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
      <table class="tablasApp table table-hover text-center" data-name="Material de Electricidad">
        <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for ele in electricidad %}
          <tr style="{% if ele.cantidad <= ele.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ ele.codigo | upper}}</td>
            <td class="text-start">{{ ele.descripcion }}</td>
            <td class="">{{ ele.tipo_material | upper}}</td>
            <td class="hidden">{{ ele.coordinador.username | title}}</td>
            <td class="">{{ ele.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
            <td class="text-center">{{ ele.cantidad }}</td>
            <td>
              <a title="datos" class="info" 
                data-id="{{ ele.id }}"
                data-codigo="{{ ele.codigo }}"
                data-descripcion="{{ ele.descripcion }}"
                data-cantidad="{{ ele.cantidad }}"
                data-cantidad-minima="{{ ele.cantidad_minima }}"
                data-coordinador="{{ ele.coordinador.username | title }}"
                data-fecha="{{ ele.fecha_ingreso }}"
                data-tipo="{{ ele.tipo_material }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <!-- panel de PLOMERIA -->
  <div class="tab-pane fade" id="pestaña2-pane" role="tabpanel" aria-labelledby="pestaña2" tabindex="0" >
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
      <p class="fs-2 m-0">PLOMERIA</p>
      <div style="display: flex;">
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
        <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
      </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
      <table class="tablasApp table table-hover text-center" data-name="Material de Plomeria">
        <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for plo in plomeria %}
          <tr style="{% if plo.cantidad <= plo.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ plo.codigo | upper}}</td>
            <td class="text-start">{{ plo.descripcion }}</td>
            <td class="">{{ plo.tipo_material | upper}}</td>
            <td class="hidden">{{ plo.coordinador.username | title}}</td>
            <td class="">{{ plo.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
            <td class="text-center">{{ plo.cantidad }}</td>
            <td>
              <a title="datos" class="info" 
                data-id="{{ plo.id }}"
                data-codigo="{{ plo.codigo }}"
                data-descripcion="{{ plo.descripcion }}"
                data-cantidad="{{ plo.cantidad }}"
                data-cantidad-minima="{{ plo.cantidad_minima }}"
                data-coordinador="{{ plo.coordinador.username | title }}"
                data-fecha="{{ plo.fecha_ingreso }}"
                data-tipo="{{ plo.tipo_material }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <!-- panel de ELECTROMECANICA -->
  <div class="tab-pane fade" id="pestaña3-pane" role="tabpanel" aria-labelledby="pestaña3" tabindex="0" >
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
      <p class="fs-2 m-0">ELECTROMECANICA</p>
      <div style="display: flex;">
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
        <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
      </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
      <table class="tablasApp table table-hover text-center" data-name="Material de Electromecanica">
        <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for elm in electromecanica %}
          <tr style="{% if elm.cantidad <= elm.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ elm.codigo | upper}}</td>
            <td class="text-start">{{ elm.descripcion }}</td>
            <td class="">{{ elm.tipo_material | upper}}</td>
            <td class="hidden">{{ elm.coordinador.username | title}}</td>
            <td class="">{{ elm.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
            <td class="text-center">{{ elm.cantidad }}</td>
            <td>
              <a title="datos" class="info" 
                data-id="{{ elm.id }}"
                data-codigo="{{ elm.codigo }}"
                data-descripcion="{{ elm.descripcion }}"
                data-cantidad="{{ elm.cantidad }}"
                data-cantidad-minima="{{ elm.cantidad_minima }}"
                data-coordinador="{{ elm.coordinador.username | title }}"
                data-fecha="{{ elm.fecha_ingreso }}"
                data-tipo="{{ elm.tipo_material }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <!-- panel de PAPELERIA -->
  <div class="tab-pane fade" id="pestaña4-pane" role="tabpanel" aria-labelledby="pestaña4" tabindex="0" >
      <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
        <p class="fs-2 m-0">PAPELERIA</p>
        <div style="display: flex;">
          <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
          <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
        </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
        <table class="tablasApp table table-hover text-center" data-name="Material de Papeleria">
          <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-4">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for ppl in papeleria %}
            <tr style="{% if ppl.cantidad <= ppl.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
              <td class="">{{ ppl.codigo | upper}}</td>
              <td class="text-start">{{ ppl.descripcion }}</td>
              <td class="">{{ ppl.tipo_material | upper}}</td>
              <td class="hidden">{{ ppl.coordinador.username | title}}</td>
              <td class="">{{ ppl.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
              <td class="text-center">{{ ppl.cantidad }}</td>
              <td>
                <a title="datos" class="info" 
                  data-id="{{ ppl.id }}"
                  data-codigo="{{ ppl.codigo }}"
                  data-descripcion="{{ ppl.descripcion }}"
                  data-cantidad="{{ ppl.cantidad }}"
                  data-cantidad-minima="{{ ppl.cantidad_minima }}"
                  data-coordinador="{{ ppl.coordinador.username | title }}"
                  data-fecha="{{ ppl.fecha_ingreso }}"
                  data-tipo="{{ ppl.tipo_material }}"
                  style="font-size: 24px; margin-right: 6px;">
                  <i class="bi bi-three-dots"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
  </div>

  <!-- panel de  LIMPIEZA -->
  <div class="tab-pane fade" id="pestaña5-pane" role="tabpanel" aria-labelledby="pestaña5" tabindex="0" >
        <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
          <p class="fs-2 m-0">LIMPIEZA</p>
          <div style="display: flex;">
            <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
          <a class="agregar-material"><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class=" btn mx-2 btn-primary"></a>
        </div>
      </div>

      <div class="table-responsive p-4 pt-0 pb-0" >
        <div class="tab-content card-tabs border-top-0">
          <table class="tablasApp table table-hover text-center" data-name="Material de Limpieza">
            <thead>
              <tr>
                <th class="col-1">Código</th>
                <th class="col-5">Descripción</th>
                <th class="col-1">Tipo</th>
                <th class="col-1 hidden">Coordinador</th>
                <th class="col-3">Fecha de Ingreso</th>
                <th class="col-1">Cantidad</th>
                <th class="col-1">Acción</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for LIM in limpieza %}
              <tr style="{% if LIM.cantidad <= LIM.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
                <td class="">{{ LIM.codigo | upper}}</td>
                <td class="text-start">{{ LIM.descripcion }}</td>
                <td class="">{{ LIM.tipo_material | upper}}</td>
                <td class="hidden">{{ LIM.coordinador.username | title}}</td>
                <td class="">{{ LIM.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
                <td class="text-center">{{ LIM.cantidad }}</td>
                <td>
                  <a title="datos" class="info" 
                    data-id="{{ LIM.id }}"
                    data-codigo="{{ LIM.codigo }}"
                    data-descripcion="{{ LIM.descripcion }}"
                    data-cantidad="{{ LIM.cantidad }}"
                    data-cantidad-minima="{{ LIM.cantidad_minima }}"
                    data-coordinador="{{ LIM.coordinador.username | title }}"
                    data-fecha="{{ LIM.fecha_ingreso }}"
                    data-tipo="{{ LIM.tipo_material }}"
                    style="font-size: 24px; margin-right: 6px;">
                    <i class="bi bi-three-dots"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
      </div>
  </div>

  <!-- panel de PINTURAS -->
  <div class="tab-pane fade" id="pestaña6-pane" role="tabpanel" aria-labelledby="pestaña6" tabindex="0" >
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
      <p class="fs-2 m-0">PINTURAS</p>
      <div style="display: flex;">
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
        <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
      </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
      <table class="tablasApp table table-hover text-center" data-name="Material de Pintura">
        <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for pin in pinturas %}
          <tr style="{% if pin.cantidad <= pin.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ pin.codigo | upper}}</td>
            <td class="text-start">{{ pin.descripcion }}</td>
            <td class="">{{ pin.tipo_material | upper}}</td>
            <td class="hidden">{{ pin.coordinador.username | title}}</td>
            <td class="">{{ pin.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
            <td class="text-center">{{ pin.cantidad }}</td>
            <td>
              <a title="datos" class="info" 
                data-id="{{ pin.id }}"
                data-codigo="{{ pin.codigo }}"
                data-descripcion="{{ pin.descripcion }}"
                data-cantidad="{{ pin.cantidad }}"
                data-cantidad-minima="{{ pin.cantidad_minima }}"
                data-coordinador="{{ pin.coordinador.username | title }}"
                data-fecha="{{ pin.fecha_ingreso }}"
                data-tipo="{{ pin.tipo_material }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <!-- panel de RESGUARDOS -->
  <div class="tab-pane fade" id="pestaña7-pane" role="tabpanel" aria-labelledby="pestaña7" tabindex="0" >
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
      <p class="fs-2 m-0">RESGUARDOS</p>
      <div style="display: flex;">
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
        <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
      </div>
    </div>

    <div class="table-responsive p-4 pt-0 pb-0" >
      <div class="tab-content card-tabs border-top-0">
      <table class="tablasApp table table-hover text-center" data-name="Material de Resguardos">
        <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for res in resguardos %}
          <tr style="{% if res.cantidad <= res.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
            <td class="">{{ res.codigo | upper}}</td>
            <td class="text-start">{{ res.descripcion }}</td>
            <td class="">{{ res.tipo_material | upper}}</td>
            <td class="hidden">{{ res.coordinador.username | title}}</td>
            <td class="">{{ res.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
            <td class="text-center">{{ res.cantidad }}</td>
            <td>
              <a title="datos" class="info" 
                data-id="{{ res.id }}"
                data-codigo="{{ res.codigo }}"
                data-descripcion="{{ res.descripcion }}"
                data-cantidad="{{ res.cantidad }}"
                data-cantidad-minima="{{ res.cantidad_minima }}"
                data-coordinador="{{ res.coordinador.username | title }}"
                data-fecha="{{ res.fecha_ingreso }}"
                data-tipo="{{ res.tipo_material }}"
                style="font-size: 24px; margin-right: 6px;">
                <i class="bi bi-three-dots"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>

  {%  if user.username == "deyner" %}
    <!-- panel de PRUEBA -->
    <div class="tab-pane fade" id="pestaña8-pane" role="tabpanel" aria-labelledby="pestaña8" tabindex="0" >
      <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
        <p class="fs-2 m-0">PRUEBA</p>
        <div style="display: flex;">
          <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" style="width: 200px;">
          <a class="agregar-material" ><img src="{% static 'img/agregar-producto.png' %}"  title="agregar producto" class="btn mx-2 btn-primary"></a>
        </div>
      </div>
  
      <div class="table-responsive p-4 pt-0 pb-0" >
        <div class="tab-content card-tabs border-top-0">
        <table class="tablasApp table table-hover text-center" data-name="Material de Prueba">
          <thead>
            <tr>
              <th class="col-1">Código</th>
              <th class="col-5">Descripción</th>
              <th class="col-1">Tipo</th>
              <th class="col-1 hidden">Coordinador</th>
              <th class="col-3">Fecha de Ingreso</th>
              <th class="col-1">Cantidad</th>
              <th class="col-1">Acción</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for pru in prueba %}
            <tr style="{% if pru.cantidad <= pru.cantidad_minima %}background-color: #ab1c1c8a;{% endif %}">
              <td class="">{{ pru.codigo | upper}}</td>
              <td class="text-start">{{ pru.descripcion }}</td>
              <td class="">{{ pru.tipo_material | upper}}</td>
              <td class="hidden">{{ pru.coordinador.username | title}}</td>
              <td class="">{{ pru.fecha_ingreso |date:"d/m/Y g:i a"}}</td>
              <td class="text-center">{{ pru.cantidad }}</td>
              <td>
                <a title="datos" class="info" 
                  data-id="{{ pru.id }}"
                  data-codigo="{{ pru.codigo }}"
                  data-descripcion="{{ pru.descripcion }}"
                  data-cantidad="{{ pru.cantidad }}"
                  data-cantidad-minima="{{ pru.cantidad_minima }}"
                  data-coordinador="{{ pru.coordinador.username | title }}"
                  data-fecha="{{ pru.fecha_ingreso }}"
                  data-tipo="{{ pru.tipo_material }}"
                  style="font-size: 24px; margin-right: 6px;">
                  <i class="bi bi-three-dots"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<button id="pruebasss" class="btn btn-primary boton-flotante">Descargar PDF</button>

<!-- agregar materiales -->
<script>
document.querySelectorAll('.agregar-material').forEach(function(element) {
  element.addEventListener('click', function() {
    Swal.fire({
      title: 'Agregar Material',
      html: `
        <form id="material-form">
          <div class="mb-3">
            <label for="codigo" class="form-label">Código:</label>
            <input type="text" name="codigo" id="codigo" maxlength="50" class="form-control">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <input type="text" name="descripcion" id="descripcion" maxlength="250" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad a agregar:</label>
            <input type="number" name="cantidad" id="cantidad" min="0" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo de Material:</label>
            <select name="tipo" id="tipo" class="form-control select2">
            {% for valor, nombre in tipos %}
                <option value="{{ valor }}">{{ nombre }}</option>
            {% endfor %}
            </select>
          </div>
        </form>
      `,
      showCancelButton: true,
      confirmButtonText: 'Guardar',
      preConfirm: () => {
        return new Promise((resolve, reject) => {
          $.ajax({
            url: "{% url 'agregar_material' %}",
            type: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
              codigo: $('#codigo').val(),
              descripcion: $('#descripcion').val(),
              cantidad: $('#cantidad').val(),
              tipo: $('#tipo').val(),
            },
            success: function(response) {
              if (!response.success) {
                Swal.showValidationMessage(response.message);
              }
              resolve(response);
            },
            error: function(xhr, status, error) {
              Swal.showValidationMessage(`Error: ${error}`);
            }
          });
        });
      },
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          icon: 'success',
          title: '¡Material agregado!',
          text: 'El material se ha registrado correctamente.',
        }).then(() => {
          window.location.href = "{% url 'material_list' %}";
        });
      }
    });
  });
});
</script>

<!-- boton de mas informacion y acciones -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ajustesButtons = document.querySelectorAll('.info');
    ajustesButtons.forEach(button => {
      button.addEventListener('click', function () {
        const pk = this.getAttribute('data-id');
        const codigo = this.getAttribute('data-codigo');
        const descripcion = this.getAttribute('data-descripcion');
        const cantidad = this.getAttribute('data-cantidad'); 
        const cantidad_minima = this.getAttribute('data-cantidad-minima');
        const coordinador = this.getAttribute('data-coordinador');
        const fecha = this.getAttribute('data-fecha');
        const tipo = this.getAttribute('data-tipo');
        
        Swal.fire({
          title: `<strong>Detalles del Material</strong>`,
          icon: "info",
          html: `
            <p><b>Código:</b> ${codigo}</p>
            <p><b>Descripción:</b> ${descripcion}</p>
            <p><b>Cantidad:</b> ${cantidad}</p>
            <p><b>Coordinador:</b> ${coordinador}</p>
            <p><b>Fecha de Ingreso:</b> ${fecha}</p>
            <p><b>Tipo de Material:</b> ${tipo}</p>
          `,
          showCloseButton: false,
          showCancelButton: false,
          showConfirmButton: false,
          focusConfirm: false,
          width: '600px',
          footer: `
          <div class="flex-d">
            <div>
              <button id="edit-material" class="swal2-confirm col-4 swal2-styled">Editar</button>
              <button id="delete-material" class="swal2-confirm col-4 swal2-styled">Eliminar</button>
            </div>
            <div>
              <button id="cantidad-material" class="swal2-confirm col-4 swal2-styled">Cantidad</button>
              <button id="entrega-material" class="swal2-confirm col-4 swal2-styled">Entregar</button>
            </div>
          </div>
          `
        });

    document.getElementById('entrega-material').addEventListener('click', function() {
      Swal.fire({
        title: `${descripcion} (Disponible: ${cantidad})`,
        html: `
        <div class="p-0">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <input type="hidden" id="material" value="${pk}">
              <input type="hidden" id="id_analista" name="analista" value="{{ user.id }}">

              <div id="inputPeople">
                <div class="d-flex justify-content-end">
                  <a href="#" id="showNewPeople"><i class="bi bi-person-plus"></i></a>
                </div>
                <div class="mb-3">
                  <div class="col-12">
                    <label for="persona" class="form-label">Seleccione Persona:</label>
                    <select id="persona" name="persona" class="form-control selectPeople">
                    <option value="" selected disabled>Seleccione una persona</option>
                      {% for person in personas %}
                        <option value="{{ person.id }}">{{ person.nombre }} - {{ person.cedula }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div id="newPeopleForm" style="display: none;">
                <div class="d-flex justify-content-end">
                  <a href="#" id="closeNewPeople"><i class="bi bi-backspace"></i></a>
                </div>
                <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nombre" class="form-label">Nombre y Apellido:</label>
                  <input id="nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cedula" class="form-label">Cédula:</label>
                  <input id="cedula" name="cedula" type="number" class="form-control">
                </div>
              </div>

            <!-- Select Departamento -->
              <div id="inputDepartment">
                <div class="d-flex justify-content-end">
                  <a href="#" id="showNewDepartment"><i class="bi bi-person-plus"></i></a>
                </div>
                <div class="row mb-3">
                  <div class="col-12">
                    <label for="departamento" class="form-label">Seleccione Departamento:</label>
                    <select id="departamento" name="departamento" class="form-control selectDepartment">
                      <option value="">Seleccione un departamento</option>
                        {% for dept in departamentos %}
                          <option value="{{ dept.id }}">{{ dept.nombre }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

            <!-- Nuevo Departamento Input -->
              <div id="newDepartmentForm" style="display: none;">
                <div class="d-flex justify-content-end">
                  <a href="#" id="closeNewDepartment"><i class="bi bi-backspace"></i></a>
                </div>
                <div class="col-12">
                  <label for="nuevo_dep" class="form-label">Nombre del nuevo departamento:</label>
                  <input id="nuevo_dep" name="nuevo_dep" type="text" class="form-control">
                </div>
              </div>
            </div>


            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción:</label>
              <textarea name="descripcion" id="descripcion" rows="4" class="form-control" placeholder="Introduzca el motivo y el Piso..."></textarea>
            </div>

            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad:</label>
              <input type="number" name="cantidad" id="cantidad" class="form-control" min='1' max='${cantidad}' required>
            </div>
          </form>
        </div>
        `
        ,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        width: '600px',
        didOpen: () => {
        // Inicializa Select2 para las personas
        $('.selectPeople').select2({
        placeholder: 'Seleccione una persona',
        width: '100%', // Ajusta el ancho
        dropdownParent: $('.swal2-popup') // Se asegura de que el dropdown funcione correctamente en SweetAlert2
        });
        //--------------------------------------
        // Inicializa Select2 para los nuevos departamentos
        $('.selectDepartment').select2({
        placeholder: 'Seleccione un departamento',
        width: '100%', // Ajusta el ancho
        dropdownParent: $('.swal2-popup') // Se asegura de que el dropdown funcione correctamente en SweetAlert2
        });
        //--------------------------------------

        // Mostrar el formulario y ocultar Select2 personas
        const inputPeople = document.getElementById('inputPeople');
        const newPeopleForm = document.getElementById('newPeopleForm');
        const showNewPeople = document.getElementById('showNewPeople');
        const closeNewPeople = document.getElementById('closeNewPeople');
        //-------------------------------------------------

        // Mostrar el formulario y ocultar Select2 departamentos
        const inputDepartment = document.getElementById('inputDepartment')
        const newDepartmentForm = document.getElementById('newDepartmentForm')
        const showNewDepartment = document.getElementById('showNewDepartment')
        const closeNewDepartment = document.getElementById('closeNewDepartment')
        //-------------------------------------------------

        // Mostrar el formulario y ocultar Select2 personas
        showNewPeople.addEventListener('click', () => {
        inputPeople.style.display = 'none';
        newPeopleForm.style.display = 'block';
        });

        closeNewPeople.addEventListener('click', () => {
        newPeopleForm.style.display = 'none';
        inputPeople.style.display = 'block';
        });
        //-------------------------------------------------

        // Mostrar el formulario y ocultar Select2 departamentos
        showNewDepartment.addEventListener('click', ()=>{
        inputDepartment.style.display = 'none';
        newDepartmentForm.style.display = 'block';
        })

        closeNewDepartment.addEventListener('click', () => {
        newDepartmentForm.style.display = 'none';
        inputDepartment.style.display = 'block';
        });
        //-------------------------------------------------
        },

        preConfirm: () => {
          const E_Material = document.getElementById('material').value;
          const E_Analista = document.getElementById('id_analista').value

          // Verificar si persona está seleccionada, si no, verificar nombre, cedula y departamento
          const E_Persona = document.getElementById('persona') && document.getElementById('persona').value ? document.getElementById('persona').value : '';
          const E_Nombre = document.getElementById('nombre') && document.getElementById('nombre').value ? document.getElementById('nombre').value : '';
          const E_Cedula = document.getElementById('cedula') && document.getElementById('cedula').value ? document.getElementById('cedula').value : '';
          const E_Departamento = document.getElementById('departamento') && document.getElementById('departamento').value ? document.getElementById('departamento').value : '';
          const E_NuevoDepartamento = document.getElementById('nuevo_dep') && document.getElementById('nuevo_dep').value ? document.getElementById('nuevo_dep').value : '';
          const E_Descripcion = document.getElementById('descripcion') ? document.getElementById('descripcion').value : '';
          const E_Cantidad = document.getElementById('cantidad').value;

          // Condición para saber si se ha seleccionado una persona o se están ingresando los datos manualmente
          const validPersona = E_Persona || (E_Nombre && E_Cedula && E_Departamento);
          const validDepartamento = E_Departamento || E_NuevoDepartamento; // Asegurarse de que uno de los dos esté presente

          if (!E_Cantidad) { 
            Swal.showValidationMessage('ingrese una cantidad valida.');
            return false;
          } 
          else if (!E_Descripcion){
            Swal.showValidationMessage('ingrese una justificacion.');
            return false;
          }
          // if (!E_Analista || 
          //     !validPersona ||  // Se valida que se complete una de las dos opciones (Persona o Datos manuales)
          //     !E_Descripcion || !E_Cantidad || 
          //     !validDepartamento) { // Se valida que el departamento o nuevo departamento esté completo
          //     Swal.showValidationMessage('Todos los campos son obligatorios y deben cumplir las condiciones.');
          //     return false;
          // }

          // Llamada AJAX para enviar los datos al servidor
          $.ajax({
            type: "POST",
            url: `../entregar_material_prueba/${pk}/`,  
            data: {
              material: E_Material,
              analista: E_Analista,
              persona: E_Persona,
              nombre: E_Nombre,
              cedula: E_Cedula,
              departamento: E_Departamento,
              nuevo_dep: E_NuevoDepartamento,
              descripcion: E_Descripcion,
              cantidad: E_Cantidad,
              csrfmiddlewaretoken: "{{ csrf_token }}", 
            },
            success: function (response) {
                    Swal.fire({
                        title: 'Guardado!',
                        text: 'El material ha sido actualizado',
                        icon: 'success',
                        showConfirmButton: false, // Oculta el botón "OK"
                        timer: 1000 // Cierra automáticamente en 1 segundo
                    }).then(() => {
                        location.reload(); // Recarga la página después de que la alerta desaparezca
                    });
                  },
            error: function (xhr, status, error) {
              Swal.fire('Error', 'Hubo un problema al guardar los cambios', 'error');
            }
          });
        }
      });
    });


      document.getElementById('cantidad-material').addEventListener('click', function() {
    Swal.fire({
        title: 'Modificar Cantidad del Material',
        html: `
            <form id="modificar-cantidad-form">
                <div class="form-group">
                    <p><b>Código:</b> ${codigo}</p>
                    <p><b>Descripción:</b> ${descripcion}</p>
                    <p><b>Cantidad:</b> ${cantidad}</p>
                </div>
                <div class="form-group">
                    <label for="id_cantidad_a_agregar">Cantidad a agregar:</label>
                    <input
                        type="number"
                        name="cantidad"
                        min="1"
                        class="form-control"
                        id="id_cantidad_a_agregar"
                    />
                </div>
                <div class="form-group">
                    <label for="id_cantidad_a_restar">Cantidad a restar:</label>
                    <input
                        type="number"
                        name="restar"
                        min="1"
                        class="form-control"
                        id="id_cantidad_a_restar"
                    />
                </div>
                <div class="form-group">
                    <label for="id_justificacion">Justificación:</label>
                    <input
                        type="text"
                        name="justificacion"
                        class="form-control"
                        id="id_justificacion"
                        required
                    />
                </div>
            </form>
        `,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        preConfirm: () => {
        const justificacion = document.getElementById('id_justificacion').value;

        if (!justificacion) {
            Swal.showValidationMessage('¡La justificación es requerida!');
            return false; // ¡Aquí detienes la promesa!
        }

        return new Promise((resolve, reject) => {
            const form = $('#modificar-cantidad-form');
            const formData = form.serializeArray().reduce((obj, item) => {
                obj[item.name] = item.value;
                return obj;
            }, {});
                $.ajax({
                  type: 'POST',
                    url: `../modificar_cantidades/${pk}/`,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',  // Token CSRF
                        ...form.serializeArray().reduce((obj, item) => {
                            obj[item.name] = item.value;
                            return obj;
                        }, {})
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            resolve(data);
                        } else {
                            Swal.showValidationMessage(data.message || 'Ocurrió un error.');
                        }
                    },
                    error: function() {
                        Swal.showValidationMessage('Ocurrió un error inesperado.');
                    }
                });
            });
        }
    }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
          title: 'Éxito!',
          text: 'El material ha sido modificado correctamente.',
          icon: 'success',
          showConfirmButton: false, // Oculta el botón "OK"
          timer: 1000 // Cierra automáticamente en 1 segundo
      }).then(() => {
          location.reload(); // Recarga la página después de que la alerta desaparezca
      });
    }
  });
});


      document.getElementById('delete-material').addEventListener('click', function () {
        Swal.fire({
        title: "¿Estas seguro?",
        html: `
            <p>¡No podrás revertir esto!</p>
            <div class="form-group">
                <label for="motivo">Motivo de la eliminación:</label>
                <textarea id="motivo" class="form-control" rows="4" placeholder="Introduzca el motivo de la eliminación..."></textarea>
            </div>
        `,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        confirmButtonText: "¡Sí, bórralo!",
        preConfirm: () => {
        const motivo = document.getElementById('motivo').value;
        if (!motivo) {
            Swal.showValidationMessage("Por favor ingrese un motivo para la eliminación");
        }
        return motivo;
      }
    }).then((result) => {
        if (result.isConfirmed) {
            const motivo = result.value; 

        $.ajax({
            url: `../eliminar_material/${pk}/`, 
            type: 'POST',
            data: {
                motivo: motivo,
                csrfmiddlewaretoken: '{{ csrf_token }}'  
            },
            success: function (response) {
                    Swal.fire({
                        title: 'Eliminado!',
                        text: 'El material ha sido eliminado',
                        icon: 'success',
                        showConfirmButton: false, // Oculta el botón "OK"
                        timer: 1000 // Cierra automáticamente en 1 segundo
                    }).then(() => {
                        location.reload(); // Recarga la página después de que la alerta desaparezca
                    });
                  },
            error: function (xhr, errmsg, err) {
                Swal.fire(
                    'Error!',
                    'There was a problem deleting the material.',
                    'error'
          );
        }
      });
    }
  });
});


      document.getElementById('edit-material').addEventListener('click', function () {
        Swal.fire({
          title: 'Editar Material',
          html: `
          <div class="form-group">
            <label for="edit-codigo" class="col-form-label">Código:</label>
            <input id="edit-codigo" type="text" class="form-control" value="${codigo}">
          </div>
          <div class="form-group">
            <label for="edit-cantidad" class="col-form-label">Cantidad Minima:</label>
            <input id="edit-cantidad" type="number" class="form-control" value="${cantidad_minima}">
          </div>
          <div class="form-group">
            <label for="edit-descripcion" class="col-form-label">Descripción:</label>
            <input id="edit-descripcion" type="text" class="form-control" value="${descripcion}">
          </div>
          <div class="form-group">
            <label for="edit-tipo" class="col-form-label">Tipo de Material:</label>
            <input id="edit-tipo" type="text" class="form-control" value="${tipo}">
          </div>
        `,
          showCancelButton: true,
          confirmButtonText: 'Guardar',
          cancelButtonText: 'Cancelar',
          preConfirm: () => {
            const newCodigo = document.getElementById('edit-codigo').value;
            const newDescripcion = document.getElementById('edit-descripcion').value;
            const newCantidadMinima = document.getElementById('edit-cantidad').value;
            const newTipo = document.getElementById('edit-tipo').value;

            if (!newDescripcion || !newCantidadMinima || !newTipo) {
              Swal.showValidationMessage('Todos los campos son obligatorios');
              return false;
            }
            $.ajax({
                type: "POST",
                url: `../editar_material/${pk}/`,  
                data: {
                    codigo: newCodigo,
                    descripcion: newDescripcion,
                    cantidad_minima: newCantidadMinima,
                    tipo: newTipo,
                    csrfmiddlewaretoken: "{{ csrf_token }}", 
                },
                success: function (response) {
                    Swal.fire({
                        title: 'Guardado',
                        text: 'El material ha sido actualizado',
                        icon: 'success',
                        showConfirmButton: false, // Oculta el botón "OK"
                        timer: 1000 // Cierra automáticamente en 1 segundo
                    }).then(() => {
                        location.reload(); // Recarga la página después de que la alerta desaparezca
                    });
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Hubo un problema al guardar los cambios', 'error');
                }
            });

          }
        });
      });
    });
  });
});



</script>


<!-- este escrip sirve para que el ultimo tab en el que estaba quede activo cuando recarge la pagina -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Obtener el último tab guardado en localStorage
      let lastTab = localStorage.getItem("activeTab");
  
      // Si hay un tab guardado, activarlo
      if (lastTab) {
          let tabElement = document.querySelector(`[data-bs-target="${lastTab}"]`);
          if (tabElement) {
              let tab = new bootstrap.Tab(tabElement);
              tab.show();
          }
      }
  
      // Escuchar el evento cuando se cambia de pestaña y guardar el ID
      document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(tab => {
          tab.addEventListener("shown.bs.tab", function (event) {
              localStorage.setItem("activeTab", event.target.getAttribute("data-bs-target"));
          });
      });
  });
  </script>
{% endblock %}