{% extends "inicio.html" %} 
{% block content %}
<div class="rounded m-5 mt-0 col-md-11"  id="myTabContent">
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
        <p class="fs-2 m-0">Lista de Entregas</p>
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput"  style="width: 200px;">
    </div>
    
    <div class=" rounded-top-0 rounded table-responsive p-5 pt-2 pb-2 tab-content card-tabs border-top-0 bg-light">
        <table class="tablasApp table table-hover text-center ">
            <thead>
                <tr>
                    <th class="col-1">Departamento</th>
                    <th class="col-2">Material</th>
                    <th class="col-1">Analista</th>
                    <th class="col-2">Nombre - CI</th>
                    <th class="col-1">Cantidad</th>
                    <th class="col-2">Descripción</th>
                    <th class="col-1">Categoria</th>
                    <th class="col-3">Fecha de Entrega</th>
                    <th class="col-1">Reintegro</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.persona.departamento | title }}</td>
                    <td>{{ registro.material }}</td>
                    <td>{{ registro.analista | title}}</td>
                    <td>{{ registro.persona | title}}</td>
                    <td>{{ registro.cantidad }}</td>
                    <td>{{ registro.descripcion }}</td>
                    <td>{{ registro.tipo }}</td>
                    <td>{{ registro.fecha_entrega }}</td>
                    <td>
                        <a title="datosMaterial" 
                            class="reintegro" 
                            data-id="{{ registro.materialID }}" 
                            data-cantidad="{{ registro.cantidad }}" 
                            href="#" 
                            style="font-size: 24px; margin-right: 6px;">
                            <i class="bi bi-three-dots"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',function() {
        const botonreintegro = document.querySelectorAll('.reintegro');
        botonreintegro.forEach(button => {
            button.addEventListener('click', function(){
                const pk = this.getAtribute('data-id');
                const cantidad = this.getAtribute('data-cantidad')

                Swal.fire({
                    title: Reintegro,
                    icon: "info",
                    html: `
                        <h3>cantidad entregada ${cantidad}</h3>
                        <p>indique cuando quiere se retorna y la justificacion</p>
                        <form id="fromretorno">
                            <div class="form-group">
                                <label for="id_cantidad">Cantidad:</label>
                                <input type="number" name="cantidad" min="1" max="${cantidad}" class="form-control" id="id_cantidad"/>
                            </div>
                            <div class="form-group">
                                <label for="id_justificacion">Justificación:</label>
                                <input type="text" name="justificacion" class="form-control" id="id_justificacion" required/>
                            </div>
                        </form>
                    `,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    preConfirm: () => {
                        const cant = document.getElementById('cantidad').value;
                        const justificacion = document.getElementById('id_justificacion').value;

                        if (!justificacion) {
                            Swal.showValidationMessage('¡La justificación es requerida!');
                            return false; // ¡Aquí detienes la promesa!
                        }
                        if (!cant) {
                            Swal.showValidationMessage('ingrese la cantidad!');
                            return false; // ¡Aquí detienes la promesa!
                        }
                        $.ajax({
                            type: "POST",
                            url: `../retorno/${pk}/`,  
                            data: {
                                cantidad: cant,
                                justificacion: justificacion,
                                csrfmiddlewaretoken: "{{ csrf_token }}", 
                            },
                            success: function (response) {
                                Swal.fire('Guardado', 'se ha retornado el Material', 'success');
                            },
                            error: function (xhr, status, error) {
                                Swal.fire('Error', 'Hubo un problema al guardar los cambios', 'error');
                            }
                        });
                        setInterval("location.reload()",1000);
                        
                    }
                })
            })
        })
    })
</script>
{% endblock %}