{% extends "inicio.html" %} 
{% block content %}
<div class="rounded m-5 mt-0"  id="myTabContent">
    <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
        <p class="fs-2 m-0">Lista de Entregas</p>
        <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput"  style="width: 200px;">
    </div>
    
    <div class=" rounded-top-0 rounded table-responsive p-5 pt-2 pb-2 tab-content card-tabs border-top-0 bg-light">
        <table class="tablasApp table table-hover text-center ">
            <thead>
                <tr>
                    <th class="col-1">Departamento</th>
                    <th class="col-2">Material</th>
                    <th class="col-1">Analista</th>
                    <th class="col-2">Nombre - CI</th>
                    <th class="col-1">Cantidad</th>
                    <th class="col-2">Descripción</th>
                    <th class="col-3">Fecha de Préstamo</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.persona.departamento | title }}</td>
                    <td>{{ registro.material }}</td>
                    <td>{{ registro.analista | title}}</td>
                    <td>{{ registro.persona | title}}</td>
                    <td>{{ registro.cantidad }}</td>
                    <td>{{ registro.descripcion }}</td>
                    <td>{{ registro.fecha_entrega }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}