{% extends "inicio.html" %} 
{% block content %}
<div class="rounded m-5 mt-0 col-md-11"  id="myTabContent">
        <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
            <p class="fs-2 m-0">Log</p>
            <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput"  style="width: 200px;">
        </div>
    <div class="rounded-top-0 rounded table-responsive p-4 pt-0 pb-0 tab-content card-tabs border-top-0 bg-light">
        <table class="tablasApp table table-hover  text-center ">
            <thead  > 
            <tr  >
                <th class=" col-1">Usuario</th>
                <th class=" col-1">Acción</th>
                <th class=" col-2">Fecha y Hora</th>
                <th class=" col-4">Detalles</th>
            </tr>
            </thead>

            <tbody class="table-group-divider table-scrollable ">
                
            {% for log in logs %}
            <tr class="table-bordered ">
                <td>{{ log.user.username }}</td>
                <td>{{ log.get_action_display }}</td>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.details }}</td>
            </tr>
        
            {% endfor %}
            </tbody>

        </table>
    </div>   

</div>





{% endblock %}