* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: math;
    font-size: 17px;
}

body.formulario_solicitud{
    font-family: math;
    font-size: 17px;
}



body.inicio {
    padding-top: 73px; /* ajustado para la barra de navegacion */
    background-image: url(../img/prueba4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y:auto

}
body nav.colornav{
    background: linear-gradient(295deg, rgb(55 84 116), rgb(77 135 199));
}

.bluecolor{
    background-color: rgb(77 135 199);

}

.hidden {
    display: none;
}

body.login{
    font-family: math;
    padding-top: 0px;
    background-color: rgb(77 135 199);
    font-size: 17px;
}
div.card.content-container.contenido{
    background-color: #ffffffd4;
    margin-right: 30px;
    margin-left: 30px;
    overflow-y: auto;
    max-height: 600px;
}



img.img-fluid.login{
    height: 100%;
}

img.logo{
    width: 146px;
    max-height: 32px;
}


/* Estado normal */
.sortable {
    cursor: pointer;
}

/* Estado normal */
.sortable {
    cursor: pointer;
}

/* Estado ascendente */
.sortable.ascendente::after {
    content: " ▲";
}

/* Estado descendente */
.sortable.descendente::after {
    content: " ▼";
}
div#contenido {
    margin: 50px;
}

th.sortable {
    white-space: nowrap;
}

.notification-icon {
    position: relative; /* Para que la badge se posicione correctamente */
    display: inline-block; /* Para que no ocupe todo el ancho */
}

.badge {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.75rem;
    padding: 0.25em 0.5em; /* Espaciado alrededor del texto */
    border-radius: 1rem; /* Bordes redondeados */
}

a#inbox-link {
    padding: 10px;
}


/* Cambia el estilo de letra dentro de todos los diálogos de SweetAlert */
.swal2-container {
font-size: initial;               /* Ajusta el tamaño de la letra */
color: initial;                    /* Cambia el color de la letra */
}

.swal2-container .select2-container .select2-selection--single .select2-selection__rendered {

    white-space: normal;
    height: max-content;
}

.swal2-container .select2-container .select2-selection--single {
    height: max-content;
    width: 100%;
}


.swal2-container .select2-container .select2-selection--single .select2-selection__rendered {
    white-space: break-spaces;
    height: max-content;
    width: 100%;
}
.swal2-container span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
    width: 100% !important;
}
.swal2-container span.select2.select2-container.select2-container--default.select2-container--below.select2-container {
    width: 100% !important;
}



.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
}

.table
{
    --bs-table-bg: rgba(255, 255, 255, 0) ;
}

.lista_materiales {
    background-color: aquamarine;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    box-shadow: rgb(55 84 116) 1px 1px 10px 0px;
}
.encabezado_lista{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blue_gradient{
    background: linear-gradient(295deg, rgb(55 84 116), rgb(77 135 199));
    color: rgba(255, 255, 255, 0.55);
}



.navbar-container {
    margin-bottom: 20px; /* el espacio que requiere la barra de navegacion */
}

.nav {
    --bs-nav-link-hover-color: #000;
}

.nav-linke {
    color: #a6a6a6d4; /* Color normal */
    text-decoration: none; /* Sin subrayado por defecto */
    transition: all 0.2s ease; /* Transición suave */
}

.nav-linke:hover {
    color: white; /* Cambiar el color del texto al pasar el cursor */
    text-decoration: underline; /* Agregar subrayado */
}

.nav-link-tabs{
    background-color: rgb(77 135 199);
    text-decoration: none;
    color: black;
}

.nav-tabs {
    border-bottom: 2px solid #ddd; /* Línea inferior limpia */
}

.nav-tabs .nav-link {
    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 8px 8px 0 0; /* Borde superior redondeado */
    color: black;
    padding: 10px 15px;
    margin-left: 2px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-tabs .nav-link.active {
    background-color: #4A90E2; /* Color de pestaña activa */
    border-color: #dddddd81 #dddddd83 #ffffff71; /* Resalta la pestaña activa */
    color: black; /* Texto claro */
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    background-color: #6CA3E0; /* Cambia color al pasar el mouse */
    border-color: #cccccc; /* Añade borde al hover */
    color: black;
}

.nav-tabs .nav-item {
    margin-bottom: -1px; /* Evita que se superpongan */
}

.ts {
    text-shadow: 0px 1px 4px black;
}