{% load static %}
{% with "card p-3 tab-content card-tabs border-top-0 bg-light" as tablas %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static '@sweetalert2/theme-bulma/bulma.css' %}" />
  <link rel="stylesheet" href="{% static 'datatable/ccs/datatables.min.css' %}" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>

<body class="inicio">
  {%  if user.is_authenticated %}
  <div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-dark colornav fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}" aria-label="Inicio">
          <img src="{% static 'img/logo_funda.png' %}" alt="Logo de la Empresa" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" id="inbox-link" style="position: relative;">
                <div class="notification-icon" id="inbox-icon">
                    <i class="ts bi bi-inbox" style="font-size: 2rem; cursor: pointer;"></i>
                    {% if cantidad_solicitudes > 0 %}
                        <span class="badge bg-danger" >
                            {{ cantidad_solicitudes }}
                        </span>  <!-- Muestra la cantidad de solicitudes -->
                    {% endif %}
                    <div class="notification-dot {% if cantidad_solicitudes > 0 %}has-requests{% endif %}"></div>
                </div>
            </a>
            </li>
            <li class="nav-item">
              <a class="ts nav-link" href="{% url 'user_action_log' %}">log</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ts" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                aria-label="Prueba Desplegable 1">usuarios</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'users_list' %}">Lista de Usuarios</a></li>
                <li><a class="dropdown-item" href="{% url 'registrar_usuario' %}">Registrar Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="ts nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                aria-label="Prueba Desplegable 1">Entregas</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'material_list' %}">Lista de Materiales</a></li>
                <li><a class="dropdown-item" href="{% url 'entrega_list' %}">Lista de entregas</a></li>
                <li><a class="dropdown-item" href="{% url 'entregas_lotes' %}">Entregas en lotes</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="ts nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                aria-label="Prueba Desplegable 2">Prestamos</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ListaHerramientas' %}">Lista de herramientas</a></li>
                <li><a class="dropdown-item" href="{% url 'herramientas_prestadas' %}">Prestamos activos</a></li>
                <li><a class="dropdown-item" href="{% url 'prestamolotes' %}">Prestamo en lotes</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class=" ts btn btn-link nav-link" aria-label="Cerrar sesión">
                  Cerrar sesión <i class=" bi bi-door-closed"></i>
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- ----- content start ----- -->
  <div id="ver" class="d-flex justify-content-center">
    {% block content %} {% endblock %}
  </div>
  
  <!-- ----- content end ----- -->



  <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'select2/js/select2.min.js' %}"></script>
  <script src="{% static 'js/js.js' %}"></script>
  <script src="{% static 'datatable/js/datatables.min.js' %}"></script>
  <script src="{% static 'pdfmaker/pdfmake.min.js' %}"></script>
  <script src="{% static 'pdfmaker/vfs_fonts.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const solicitudesPendientes = JSON.parse('{{ solicitudes_pendientes|escapejs }}');
      const inboxIcon = document.getElementById('inbox-icon');
  
      // Manejamos el clic en el icono de inbox
      inboxIcon.addEventListener('click', function () {
        if (solicitudesPendientes.length > 0) {
          const solicitudesHTML = solicitudesPendientes
            .map(
              solicitud => `
                <tr>
                  <td class="text-center" >${solicitud.id}</td>
                  <td class="text-start">${ solicitud.articulo_solicitado }</td>
                  <td class="">${solicitud.solicitud__persona__nombre}</td>
                  <td>
                    <a 
                      id="solicitud-${solicitud.id}" 
                      class="btn btn-sm btn-primary solicitud-link" 
                      href="javascript:void(0);" 
                      data-id="${solicitud.id}"
                    >
                      Ver Detalles
                    </a>
                  </td>
                </tr>`
            )
            .join('');
  
          Swal.fire({
            html: 
            `
                <div style="box-shadow: rgb(55 84 116) -1px 1px 15px 0px;">
                <div class="blue_gradient encabezado_lista d-flex align-items-center justify-content-between p-3">
                  <p class="fs-2 m-0">Solicitudes</p>
                  <input type="text" placeholder="Buscar" name="buscar" class="form-control searchInput" autocomplete="off" style="width: 200px;">
                </div>
                </div>
                <div class="bg-light rounded rounded-top-0 table-responsive p-2 pt-2 pb-2 tab-content card-tabs border-top-0 bg-light">
                  <table class="tablasApp table table-hover text-center ">
                    <thead>
                      <tr>
                        <th class="col-1">ID</th>
                        <th class="col-2">Material</th>
                        <th class="col-1">Solicitante</th>
                        <th class="col-1">Acción</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      ${solicitudesHTML}
                    </tbody>
                  </table>
                </div>
                </div>
            `,
  width: '1200px', // Deja que el contenido determine el ancho
  background: 'transparent', // Fondo transparente
  showCloseButton: false, // Opcional: Ocultar el botón de cierre si no lo necesitas
  showConfirmButton: false, // Ocultar botón de confirmación
  customClass: {
    popup: ' shadow-none', // Elimina bordes y sombras
  },
  didOpen: () => {
    $(document).ready(function() {
    // Inicializar DataTables en todas las tablas con la clase "tablasApp"
    $('.tablasApp').each(function(index) {
        var tablaElement = $(this);

        // Si ya está inicializada, la destruimos antes de crearla de nuevo
        if ($.fn.DataTable.isDataTable(tablaElement)) {
            tablaElement.DataTable().destroy();
        }
        var tabla = $(this).DataTable({
            "paging": true,         // Permite la paginación
            "ordering": false,       // Habilita la ordenación
            "info": false,          // Deshabilita la información
            "searching": true,      // Habilitamos la búsqueda interna
            "lengthChange": false,  // Deshabilita la opción de cambiar el número de registros por página
            "pageLength": 10,       // Muestra 10 registros por página
            "language": {
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "▶",
                    "previous": "◀"
                },
                "zeroRecords": "No se encontraron resultados"
            },
            "initComplete": function(settings, json) {
                $(".dt-search").hide();  // Ocultamos el filtro de búsqueda interno
            },
        });
        // Seleccionamos el campo de búsqueda externo con el ID generado dinámicamente
        $('.searchInput').on('keyup', function() {
            tabla.search($(this).val()).draw();  // Filtra los resultados de la tabla basado en el valor del input
        });
    });

    // Evento para limpiar los buscadores cuando se cambia de tab
    $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function() {
        $('.searchInput').val(''); // Borra el contenido de todos los buscadores
        $('.tablasApp').each(function() {
            $(this).DataTable().search('').draw(); // Restablece la búsqueda de todas las tablas
        });
    });
});
        },
});
  
          attachSolicitudEventHandlers(solicitudesPendientes);
        } else {
          Swal.fire({
            title: 'Sin Solicitudes',
            text: 'No tienes solicitudes pendientes',
            icon: 'success',
          });
        }
      });
  
      // Función para añadir eventos a cada solicitud
      function attachSolicitudEventHandlers(solicitudesPendientes) {
        document.querySelectorAll('.solicitud-link').forEach(link => {
          link.addEventListener('click', function (e) {
            const solicitudId = e.target.dataset.id;
            const solicitud = solicitudesPendientes.find(s => s.id == solicitudId);
  
            showSolicitudDetails(solicitud, solicitudId);
          });
        });
      }
  
      // Mostrar detalles de la solicitud
      function showSolicitudDetails(solicitud, solicitudId) {
        Swal.fire({
          html: `
            <div style="text-align: left; margin: 10px;">
              <p class="hidden"><strong>Persona:</strong> ${solicitud.articulo_id}</p>
              <p><strong>Persona:</strong> ${solicitud.solicitud__persona__nombre}</p>
              <p><strong>Material Solicitado:</strong> ${solicitud.articulo_solicitado}</p>
              <p><strong>Cantidad:</strong> ${solicitud.cantidad}</p>
              <p><strong>Departamento:</strong> ${solicitud.solicitud__persona__departamento__nombre}</p>
              <div class="mt-3">
                <label for="motivo" class="form-label"><strong>Justificación:</strong></label>
                <textarea id="motivo" class="form-control border border-primary" rows="3" placeholder="Escribe la justificación aquí..."></textarea>
              </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-danger me-2" id="btn-descartar">Descartar</button>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-success me-2" id="btn-aprobar">Aprobar</button>
                </div>
            </div>
          `,
          icon: 'info',
          width: '600px',
          showCloseButton: true,
          showCancelButton: false,
          showConfirmButton: false,
          cancelButtonText: 'Descartar',
          preConfirm: () => {
      const motivo = document.getElementById('motivo').value.trim();
      if (!motivo) {
        Swal.showValidationMessage('Debes ingresar una justificación.');
        return false;
      }
      return { motivo, accion: 'aprobar' };
    },
    didOpen: () => {
      // Capturamos el botón de cancelar y lo forzamos a validar también
      const btnDescartar = document.getElementById('btn-descartar');
      btnDescartar.addEventListener('click', async () => {
        const motivo = document.getElementById('motivo').value.trim();
        if (!motivo) {
          Swal.showValidationMessage('Debes ingresar una justificación para descartar.');
          return;
        }       // Cierra el modal y ejecuta la función
      Swal.close();
      descartarSolicitud(solicitudId, motivo);
      });
       // Capturamos el botón de cancelar y lo forzamos a validar también
      const btnAprobar = document.getElementById('btn-aprobar');
      btnAprobar.addEventListener('click', async () => {
        const motivo = document.getElementById('motivo').value.trim();
        if (!motivo) {
          Swal.showValidationMessage('Debes ingresar una justificación para aprobar.');
          return;
        }       // Cierra el modal y ejecuta la función
      Swal.close();
      aprobarSolicitud(solicitudId, motivo);
      });
    }
    
  })
}
      
      // Función para descartar la solicitud
      function descartarSolicitud(id, motivo) {
        Swal.fire({
          title: '¿Estás seguro?',
          text: "Esta acción eliminará la solicitud de forma permanente.",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí, eliminar',
          cancelButtonText: 'Cancelar',
        }).then(result => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Eliminando Solicitud...',
          allowOutsideClick: false,
          didOpen: () => {
            Swal.showLoading();
          // Realiza la solicitud AJAX para eliminar
          $.ajax({
            url: `/inventario/descartar_solicitud/${id}/`, // Endpoint para descartar la solicitud
            type: 'DELETE', // Método HTTP DELETE
            data: JSON.stringify({ motivo: motivo }),
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value, // Token CSRF
            },
            success: function (response) {
              if (response.success) {
                Swal.fire({
                          title: 'Solicitud Eliminada',
                          text: `La solicitud con ID ${id} ha sido eliminada correctamente.`,
                          icon: 'success',
                          showConfirmButton: false, // Oculta el botón "OK"
                          timer: 1000 // Cierra automáticamente en 1 segundo
                      }).then(() => {
                          location.reload(); // Recarga la página después de que la alerta desaparezca
                      });
              } else {
                Swal.fire({
                  title: 'Error',
                  text: response.message || 'No se pudo eliminar la solicitud.',
                  icon: 'error',
                });
              }
            },
            error: function (xhr) {
              Swal.fire({
                title: 'Error',
                text: xhr.responseJSON?.message || 'Hubo un error en el servidor.',
                icon: 'error',
              });
            },
          });
        },
      });
    }
  });
}

      // Función para aprobar la solicitud
      function aprobarSolicitud(id, motivo) {
    Swal.fire({
        title: 'Aprobando Solicitud...',
        allowOutsideClick: false,
        didOpen: () => {
            Swal.showLoading();

            $.ajax({
                url: `/inventario/aprobar_solicitud/${id}/`, // Endpoint de tu vista
                type: 'POST',
                data: JSON.stringify({ motivo: motivo }), // Envía la justificación en formato JSON
                contentType: 'application/json', // Especifica el tipo de contenido
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value, // Incluye el token CSRF
                },
                success: function (response) {
                    if (response.success) {
                      Swal.fire({
                          title: 'Solicitud Aprobada',
                          text: `La solicitud con ID ${id} fue aprobada con motivo: ${motivo}`,
                          icon: 'success',
                          showConfirmButton: false, // Oculta el botón "OK"
                          timer: 1000 // Cierra automáticamente en 1 segundo
                      }).then(() => {
                          location.reload(); // Recarga la página después de que la alerta desaparezca
                      });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: response.message || 'Ocurrió un error al aprobar la solicitud.',
                            icon: 'error',
                        });
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        title: 'Error',
                        text: xhr.responseJSON?.message || 'Ocurrió un error en el servidor.',
                        icon: 'error',
                    });
                },
            });
        },
    });
  }
})
    
  </script>


<script>
  const sessionLifetime = 600;

  // Avisar 30 segundos antes
  setTimeout(() => {
    alert("Tu sesión está por expirar. Se recargará la página automáticamente.");
  }, (sessionLifetime - 5) * 1000);

  // Recargar justo al expirar
  setTimeout(() => {
    location.reload();
  }, sessionLifetime * 1000);
</script>

  <script>
function checkSession() {
    fetch("{% url 'check_session' %}")
        .then(response => {
            if (!response.ok) {
                window.location.href = "{% url 'login' %}";  // Redirigir al login
            }
        })
        .catch(() => {
            window.location.href = "{% url 'login' %}";
        });
}

// Ejecutar cada 20 segundos
setInterval(checkSession, 20000);
</script>
</script>
{% else %}

<script> window.location.href = "{% url 'login' %}" </script>

{% endif %}

</body>

</html>
{% endwith %}