{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}"/>
  <style>
    .login-container {
        height: 100vh;
    }
    .card {
        border-radius: 1rem;
        border: none;
    }
    .card img {
        border-radius: 1rem 0 0 1rem;
    }
    .form-container {
        padding: 3rem;
    }
</style>

</head>
{% block content %}
<body class="login">

  <div class="container login-container d-flex justify-content-center align-items-center">
      <div class="col-10">

          <div class="card shadow">
              <div class="row g-0">
                  <!-- Imagen Lateral -->
                  <div class="col-md-5 d-none d-md-block">
                      <img src="{% static 'img/cajas_etiquetadas.jpg' %}" alt="login form" class="img-fluid h-100">
                  </div>

                  <!-- Formulario de Inicio de Sesión -->
                  <div class="col-md-7 d-flex align-items-center">
                      <div class="card-body form-container text-black">
                          <form method="post">
                              {% csrf_token %}
                              
                              <!-- Título -->
                              <div class="text-center mb-4">
                                  <i class="bi bi-boxes fa-2x text-danger"></i>
                                  <h1 class="fw-bold mb-0">Inventario Ferretería</h1>
                              </div>

                              <!-- Usuario -->
                              <div class="mb-3">
                                  <input type="text" name="username" class=" text-start form-control form-control-lg" style="border-color: rgba(0, 0, 0, 0.500);"
                                        placeholder="Nombre de usuario o correo institucional" required>
                              </div>

                              <!-- Contraseña -->
                              <div class="mb-3">
                                  <div class="input-group">
                                      <input type="password" name="password" id="id_password" 
                                            class=" text-start form-control form-control-lg" style="border-color: rgba(0, 0, 0, 0.500);" placeholder="Contraseña" required>
                                      <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                          <i class="bi bi-eye"></i>
                                      </button>
                                  </div>
                              </div>

                              <!-- Mensajes de error -->
                              {% if messages %}
                                  <ul class="text-danger">
                                      {% for message in messages %}
                                          <li>{{ message }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}

                              <!-- Botón de Ingresar -->
                              <button class="btn btn-primary col-12" type="submit">Ingresar al Sistema</button>

                              <!-- Olvidaste tu contraseña -->
                              <div class="text-center mt-3">
                                  <a href="#">¿Olvidaste tu contraseña?</a>
                              </div>

                              <!-- Línea divisoria -->
                              <hr class="my-3">

                              <!-- Solicitar Material -->
                              <a class="btn btn-success col-12" href="/inventario/login_solicitud/" id="abrirFormulario">
                                  Solicitar Material
                              </a>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% endblock %}

  </script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <script src="{% static 'select2/js/select2.min.js' %}"></script>
  <script src="{% static 'js/js.js' %}"></script>


</script>
  <script>
    // Seleccionar los elementos del DOM
    const radioButtons = document.querySelectorAll('input[name="tipo"]');
    const materialesContainer = document.getElementById('materiales-container');
    const herramientasContainer = document.getElementById('herramientas-container');
    
    // Escuchar cambios en los radio buttons
    radioButtons.forEach(radio => {
        radio.addEventListener('change', function () {
            if (this.value === 'material') {
                materialesContainer.style.display = 'block';
                herramientasContainer.style.display = 'none';
            } else if (this.value === 'herramientas') {
                herramientasContainer.style.display = 'block';
                materialesContainer.style.display = 'none';
            }
        });
    });
    $(document).ready(function() {
    // Escuchar el evento change de Select2
    $('#herramienta').on('change', function() {
        // Obtener la opción seleccionada
        const selectedOption = $(this).find(':selected');
        
        // Obtener el valor de data-max de la opción seleccionada
        const maxCantidad = selectedOption.data('max');

        if (maxCantidad !== undefined) {
            // Convertir el valor de maxCantidad a un número entero
            let cantidadMaxima = parseInt(maxCantidad, 10);

            // Asegurarnos de que el valor sea un número válido
            if (!isNaN(cantidadMaxima)) {
                // Establecer el atributo max del campo input cantidad
                $('#cantidad').attr('max', cantidadMaxima);

                // Opcional: establecer el valor inicial de la cantidad a 1
                $('#cantidad').val(false);
                
                console.log('Cantidad máxima:', cantidadMaxima);
            }
        }
    });

    $('#material').on('change', function() {
        // Obtener la opción seleccionada
        const selectedOption = $(this).find(':selected');
        
        // Obtener el valor de data-max de la opción seleccionada
        const maxCantidad = selectedOption.data('max');

        if (maxCantidad !== undefined) {
            // Convertir el valor de maxCantidad a un número entero
            let cantidadMaxima = parseInt(maxCantidad, 10);

            // Asegurarnos de que el valor sea un número válido
            if (!isNaN(cantidadMaxima)) {
                // Establecer el atributo max del campo input cantidad
                $('#cantidad').attr('max', cantidadMaxima);
                
                // Opcional: establecer el valor inicial de la cantidad a 1
                $('#cantidad').val(false);

                console.log('Cantidad máxima:', cantidadMaxima);
            }
        }
    });
});


</script>
{%  if user.is_authenticated %}
<script>

</script>
{% endif %}

</body>
</html>             
