{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}"/>
</head>
{% block content %}
<body class="login">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; border: none;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'img/cajas_etiquetadas.jpg' %}" alt="login form" class="img-fluid login"
                  style="border-radius: 1rem 0 0 1rem" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form method="post">
                    {% csrf_token %}
                    <div class="mb-3" style="text-align: center;">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
                      <span class="h1 fw-bold mb-0">Inventario Ferretería</span>
                    </div>
                    <div style="text-align: center;">
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Iniciar sesión en su cuenta
                    </h5>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                        maxlength="150" required="" id="id_username" class="form-control form-control-lg" />
                      <label class="form-label" for="id_username">Nombre de usuario</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" name="password" autocomplete="current-password" required=""
                        id="id_password" class="form-control form-control-lg" />
                      <label class="form-label" for="id_password">Contraseña</label>
                    </div>
                    <!-- <a class="info" title="datos"><p>Formulario de solicitud</p></a> -->

                    {% if messages %}
                      <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    <div class="d-flex gap-2 row mx-auto">
                      <button data-mdb-button-init="" class="btn btn-primary col-12" type="submit">
                        Entrar
                      </button>
                      <a class="btn btn-primary col-12" href="/inventario/Solicitud/" id="abrirFormulario">Solicitar Material</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

  </script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
  <script src="{% static 'select2/js/select2.min.js' %}"></script>
  <script src="{% static 'js/js.js' %}"></script>


</script>
  <script>
    // Seleccionar los elementos del DOM
    const radioButtons = document.querySelectorAll('input[name="tipo"]');
    const materialesContainer = document.getElementById('materiales-container');
    const herramientasContainer = document.getElementById('herramientas-container');
    
    // Escuchar cambios en los radio buttons
    radioButtons.forEach(radio => {
        radio.addEventListener('change', function () {
            if (this.value === 'material') {
                materialesContainer.style.display = 'block';
                herramientasContainer.style.display = 'none';
            } else if (this.value === 'herramientas') {
                herramientasContainer.style.display = 'block';
                materialesContainer.style.display = 'none';
            }
        });
    });
    $(document).ready(function() {
    // Escuchar el evento change de Select2
    $('#herramienta').on('change', function() {
        // Obtener la opción seleccionada
        const selectedOption = $(this).find(':selected');
        
        // Obtener el valor de data-max de la opción seleccionada
        const maxCantidad = selectedOption.data('max');

        if (maxCantidad !== undefined) {
            // Convertir el valor de maxCantidad a un número entero
            let cantidadMaxima = parseInt(maxCantidad, 10);

            // Asegurarnos de que el valor sea un número válido
            if (!isNaN(cantidadMaxima)) {
                // Establecer el atributo max del campo input cantidad
                $('#cantidad').attr('max', cantidadMaxima);

                // Opcional: establecer el valor inicial de la cantidad a 1
                $('#cantidad').val(false);
                
                console.log('Cantidad máxima:', cantidadMaxima);
            }
        }
    });

    $('#material').on('change', function() {
        // Obtener la opción seleccionada
        const selectedOption = $(this).find(':selected');
        
        // Obtener el valor de data-max de la opción seleccionada
        const maxCantidad = selectedOption.data('max');

        if (maxCantidad !== undefined) {
            // Convertir el valor de maxCantidad a un número entero
            let cantidadMaxima = parseInt(maxCantidad, 10);

            // Asegurarnos de que el valor sea un número válido
            if (!isNaN(cantidadMaxima)) {
                // Establecer el atributo max del campo input cantidad
                $('#cantidad').attr('max', cantidadMaxima);
                
                // Opcional: establecer el valor inicial de la cantidad a 1
                $('#cantidad').val(false);

                console.log('Cantidad máxima:', cantidadMaxima);
            }
        }
    });
});


</script>
{%  if user.is_authenticated %}
<script>

</script>
{% endif %}

</body>
</html>              